/* ==-- Global Styles --== */

body {
  margin: 0;
  padding: 1rem;
  font: 1rem/1.6 sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
table {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Small screen message */
@media (max-width: 50rem) {
  body > * {
    display: none;
  }

  body::after {
    content: 'These demos were not designed for small screens.';
  }
}
